body{
  background-color: Indigo;
}

header{
  height: 100px;
  background: url("../images/header_bground.jpg");
  background-repeat: repeat-x;
}

nav{
  width: 15%;
  height: 600px;
  margin-top: 10px;
  float: left;
  padding: 20px;
}

main{
  width: 80%;
  height: 400px;
  margin-top: 50px;
  float: left;
}

a{
  text-decoration: none;
  color: maroon;
  display: block;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 20px;

}

a:hover{
  background-color: inherit;
  color:yellow;
}
